.profile-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.profile-header {
  margin-top: 70px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.profile-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.profile-section {
  width: 100%;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.preferences-form label {
  display: block;
  margin-bottom: 10px;
}

.preferences-form select,
.preferences-form input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.suggestions-section {
  margin-top: 20px;
}

.suggestions-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.suggestion-card {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.suggestion-card img {
  width: 100%;
  border-radius: 10px;
}

.suggestion-card p {
  font-size: 16px;
  margin-top: 10px;
}

.contentList {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
}

.contentList img {
  width: 120px;
  height: 70px;
  object-fit: cover;
  margin-right: 16px;
  border-radius: 5px;
}

.contentList h2 {
  font-size: 18px;
  margin: 0;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.become-member-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.content-list {
  max-height: 400px;
  overflow-y: auto;
}

.content-list-button {
  text-align: center;
  margin-top: 10px;
}

.become-member-button:hover {
  background-color: #ff464f;
}

.shining-badge {
  display: inline-block;
  position: relative;

  background: linear-gradient(45deg, #f06, #fc0);
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 3s infinite;
  font-weight: bolder;
}

@keyframes shine {
  0%, 100% {
    text-shadow: none;
  }
  20%, 60% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
  }
}
@media screen and (max-width: 780px) {
  .profile-header {
    margin-top: 5px;
  }
}
@media screen and (max-width: 480px) {
  .contentList h2 {
    display: none;
  }
}


