.watchlist-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.watchlist-container h1 {
  margin-top: 70px;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.button-container{
  text-align: center;
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 24px;
  
}

@media screen and (max-width: 780px) {
  .watchlist-container h1 {
    margin-top: 5px;
  }}
 
  
  